body{
	background-color: black;
	text-align: center;
}

.csi{
	font-size:16px;
	color: aquamarine;
	
}

h1{
	color: white;
	font-weight: normal;
	font-family: "Verdana", "sans-serif"
}

h2 {
  font-size: 42px;
  color: white;
}

.center{
	display: block;
	width: 404;
	height: 720;
	margin-left: auto;
	margin-right: auto;
	
}
.exc{
	font-family: Verdana;
	font-size: 21px;
	color: gray;
	text-align: center;
}

img.app, .camp{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.footer {
  text-align: right;
} 