body{
	background-color: black;
}

.Excursion{
	font-size:16px;
	color: aquamarine;}

.head-1{
	color: white;
	font-weight: normal;
	font-family: Verdana;
	text-align: center;
}

.head-2{
	color: white;
	font-size: 42px;
	font-family: Verdana;
	font-weight: 300;
	text-align: center;
}

.center{
	display: block;
	width: 404;
	height: 720;
	margin-left: auto;
	margin-right: auto;
	
}

img.app, .camp{
	display: block;
	margin-left: auto;
	margin-right: auto;
}